*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', cursive, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 1rem;
}

p,
ul {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

ul li::before {
    content: "❌";
    margin-right: 0.5rem;
    color: #ff6347;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
    font-style: italic;
}

div {
    margin-top: 10px;
    border: 2px solid #333;
    padding: 8px;
    border-radius: 5px;
}